@charset "UTF-8";
body {
    background-color: rgb(186, 238, 221);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color:rgb(0, 5, 157) ;
    
}
h1#principal {
    text-align: center;
    background-color: rgb(195, 145, 145);
    color: white;

}
.basico {
    color: rgb(234, 39, 72);
}
.intermediario {
    color: rebeccapurple;
}
.avancado {
    color: gold;
}
h2 {
    color: rgb(9, 46, 14);
}
.destaque {
    background-color: blue;
    color: red;
    
}