@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
background-image:linear-gradient(to right, white 0,01%, #9FC131 20%,#005C53,#042940 );
}
main { 
    box-shadow: 5px 5px 15px #9FC131;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #042940 ;
    color: #9FC131;
}
h2{ 
    text-align:start ;
    text-shadow: 1px 1px 1px #9FC131 ;
    color: #042940
}
p {
    text-align: center;
}